:root {
  /* almost black*/
  --text-color: #444;

  /* dark blue*/
  --main-color-dark: #00008b;

  /* blues **/
  --main-color: #4444fa;
  --main-color-light: #7cbed4;
  --main-color-extra-light: #c4daec;

  /* blue background */
  --highlight-color: #3d679e;

  --page-background: #f0f0f0;

  /* earth blue */
  --earth-blue: #1b3772;

  /* ice walls */
  --ice-walls: #0699b3;
}
img picture image {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header svg {
  stroke: #916247;
  width: 60px;
  height: 60px;
}

* {
  box-sizing: border-box;
}

.main-nav a {
  display: inline-block;
  padding: 1rem 1.2rem;
  /* background-color: var(--main-color-light); */
  color: white;
  text-shadow: 0px 0px 4px black;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;

  background-color: var(--ice-walls);

  transform: translateX(-100vw);
  transition: transform 400ms;
  font-size: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.main-nav ul {
  margin-top: 5rem;
  margin-left: 4rem;
  text-align: right;
}

.menu-show .main-nav {
  transform: translateX(0);
}

.menu-show .menu-icon {
  transform: translateX(0);
}
/* start svg */
.main-menu svg {
  stroke: ivory;
  stroke-width: 4px;
  stroke-linecap: round;
  padding: 12px;
}

.main-menu svg line {
  transform-origin: center;
  transition: transform 200ms ease;
}

.main-menu svg line:first-child {
  transform: translateY(8px);
}

.main-menu svg line:last-child {
  transform: translateY(-8px);
}

.menu-show .menu-icon {
  background-color: var(--main-color-light);
}

.menu-show svg line {
  stroke: white;
  stroke-width: 5px;
}

.menu-show svg line:first-child {
  transform: rotate(135deg);
}

.menu-show svg line:last-child {
  transform: rotate(-135deg);
}

/* end svg */
nav {
  /* background-color: transparent;
  position: absolute;
  top: 0;
  right: 0; */
  z-index: 1;
}

nav a:hover {
  text-decoration: none;
}

header nav ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}

.menu-icon {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  width: 60px;
  height: 60px;
  background-color: blue;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.dead-link:hover {
  scale: 1;
}
/***** main classes  *****/

/* hero image */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

h1,
h2 {
  font-family: "Arvo", serif;
}

.hero {
  position: relative;
  object-fit: cover;
}

.hero picture img {
  max-height: 100vh;
}

.hero .text-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;

  font-family: "Arvo", serif;
  color: #ffe4c4;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

.hero h1 {
  margin: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
}

.hero p {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 3rem;
  margin-left: 2rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

/* fancy image CSS. Ignore plz */

picture img {
  height: 100%;
  object-position: left center;
}

img {
  object-fit: cover;
  height: 100;
}

.overlay {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0;
}

.text-group p,
.text-group h1 {
  color: var(--main-color-extra-light);
}

.text-group p {
  display: none;
}

/* end of hero image */
body {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  background-color: var(--page-background);
}

h1,
h2,
h3 {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.2;
  margin: 2em 0 0.5em;
}

h1 {
  color: var(--main-color-dark);
  font-size: 4rem;
  font-weight: 900;
}

h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  color: var(--main-color-dark);
}

h3 {
  font-size: 2rem;
  color: var(--main-color);
}

p {
  margin: 0 0 1em;
}

main {
  align-self: center;
  max-width: 60rem;
  padding: 0 1rem;
}

figure {
  margin: 4rem 0;
}

aside {
  background-color: var(--highlight-color);
  color: #fff;
  margin-top: 6rem;
  padding: 3rem 1rem;
}

aside h2 {
  color: #fff;
  margin: 0;
}

footer {
  background-color: #5a5959;
  clip-path: ellipse(78% 78% at 14% 83%);
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-size: 2em;
  margin-top: 12rem;
  padding: 12rem 1rem 2rem;
}

footer p {
  width: 50%;
}

picture img {
  width: 100%;
}

a:link {
  color: var(--earth-blue);
  font-weight: bold;
  text-decoration: none;
}

.main-nav a:visited {
  color: white;
}

nav a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:not([href]):hover {
  text-decoration: none;
}

a:active,
a:focus {
  background-color: var(--earth-blue);
  color: #fff;
}

/***** utility styles *****/

.button {
  background-color: var(--main-color);
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  padding: 8px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 1.5rem;

  /* this makes it so the user can select the text, which keeps the cursor from turning into a text selection cursor */
  user-select: none;
}

.button:hover {
  background-color: var(--main-color-light);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.button:active,
.button:focus {
  background-color: var(--main-color-extra-light);
  box-shadow: 0 0 0 2px var(--main-color-dark) inset;
  color: var(--main-color-dark);
}

/****** form styles  *****/
.form img {
  width: 400px;
}

.flip-card {
  background-color: transparent;
  /* width: 300px;
  height: 300px; */
  perspective: 1000px;
  min-height: 180px;
  flex: 1 1 300px;
  aspect-ratio: 1/1;
}

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  margin-top: 2rem;
}

/* Positioning */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /* text-align: left; */
  transition: transform 0.6s 0.3s;
  transform-style: preserve-3d;
}

/*horizontal flip*/
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  transition: transform 0.8s;
}

/* Positioning */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Front Side*/
.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* back side */
.flip-card-back {
  background-color: var(--earth-blue);
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back p {
  padding: 0 1.5rem;
}

.flip-card-back h4 {
  position: relative;
  top: 45%;
  margin: 0;
  text-align: center;
  color: var(--main-color-extra-light);
}
.load-container {
  display: flex;
  justify-content: center;
}
.loader {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  border: 16px solid rgba(0, 0, 0, 0.4);
  border-left: 16px solid #ffffff;
  animation: load 1000ms infinite linear;
}

.svg-wrap {
  width: 200px;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.4rem;
}

.panel .text-wrapper h2 {
  margin-top: 0;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 500px) {
  /* Bigger than mobile */
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-container {
    flex: 1 1 40%;
  }

  .menu-icon {
    display: none;
  }
  .hero h1 {
    font-size: 1.5rem;
  }
  /* fixing from mobile */
  nav a:hover {
    scale: 1.2;
  }

  .main-nav ul {
    flex-direction: row;
    font-size: 1.3rem;
    margin-top: 0;
  }
  .main-nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* align-items: flex-end; */
    background-color: transparent;
    transform: translateX(0);
  }
  .main-nav {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    /* z-index: 1; */
  }
}

@media (min-width: 900px) {
  .card-container {
    /* flex: 1 1 20%; */
    flex-wrap: nowrap;
  }
  .panel {
    margin-top: 6rem;
    flex-direction: row;
  }

  .panel .image-wrapper {
    flex-basis: 40%;
    flex-shrink: 0;
  }

  .left {
    order: -1;
  }
  .hero h1 {
    font-size: 3rem;
  }
}

/* >1100 */
@media (min-width: 1101px) {
  .text-group h1 {
    font-size: 5rem;
  }
  .text-group p {
    margin: 0;
    display: block;
    font-size: 2.5rem;
    line-height: 1.2;
  }
  .overlay {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: start;
    margin: 1.5rem;
  }
}
